<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="T3_P_SQL_Server.Properties.Settings.tiendaConnectionString"
            connectionString="Data Source=DESKTOP-5QH26IG;Initial Catalog=tienda;User ID=sa;Password=root;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>